<h1>Editing article</h1>

<%= render 'form', article: @article, button_text: "Update Article" %>

<%= link_to "Show Page", article_path(@article), class: "text-decoration-none"%> |
<%= link_to "Back to Articles", articles_path, class: "text-decoration-none"%>
